<!--<div>
	<marquee direction="left"><img src="/images/image1.jpg"> </img> </marquee>
</div>
<div>
	<marquee direction="right"><h1>Welcome to the Bus APP </h1></marquee>
</div>

-->
<center>

<h2> Bus App Login  </h2>
<form method="post" action="/check" name= "form1"  onsubmit="return validateForm()" style="border:3px solid #ccc; padding: 50px">
Enter username <input type="text" name="username" placeholder="username" autofocus> <br>
Enter password 	<input type="password" name="password" placeholder="password" id="myInput"> <br>

<input type="checkbox" onclick="show()"> Show Password
<input type="submit" value="Submit">
</form>

<b>{{Status}} </b>


<script src='/javascripts/showpw.js'>
</script>



</script>

<B> New Member? <a href='Signup'>Sign up </a> </B>