body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
}

a {
  color: #00B7FF;
}

#new {
	   text-align: right;
     color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    padding: 30px;
}

th, td {
    padding: 8px ;
    text-align: center !important;
    border-bottom: 1px solid #ddd;
  
}

tr :hover {
	background-color: #ADD8E6
}





.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

div.footer{

    height:20px; 
    color: #999999;
    font-size: 0.9em;
    text-align: right;
    bottom:0;
    right:0;
    position:absolute;
    padding-right: 10px;
    padding-bottom: 10px;
}

input[type=text], input[type=password],input[type=email],input [type=date],input[type=select] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}